{% extends "main/layout.html" %}
{% load sinerafil_tags %}
{% block content %}
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-list"> {{legend|upper}}</i>
        </div>
        <div class="card-body">
          
          <div class="table-responsive">
            {% if group == "admin" %}<a class="btn btn-primary btn-sm mb-2" href="{% url 'despeza-add' %}"><i class="fa fa-plus"></i> Aumenta</a>{% endif %}
            <table id="example1" class="table table-sm table-hover" style="width:100%">
              <thead>
                <tr>
                <th>#</th>
                <th>Data</th>
                <th>Deskrisaun</th>
                <th>Valór</th>
                <th>Aksaun</th>
                </tr>
              </thead>
              <tbody>
                {% for obj in objects %}
                <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ obj.date|date:'d/m/Y' }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.amount|usd }}</td>
                <td class="text-nowrap">
                  {% if group == "admin" %}<a class="btn btn-sm btn-warning" href="{% url 'despeza-edit' obj.pk %}" title="Edita"><i class="fa fa-edit"></i></a>{% endif %}
                  {% if group == "admin" %}<a class="btn btn-sm btn-danger" href="{% url 'despeza-delete' obj.pk %}" title="Hamoos"><i class="fa fa-trash"></i></a>{% endif %}
                </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
