# Kopia file ne'e ba `.env` no troka valór sira.
SECRET_KEY=troka-ba-string-random-naruk
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

SHOP_NAME=Ofisina Nerafil
SHOP_TAGLINE=Reparasaun & Manutensaun Motór
SHOP_ADDRESS=Dili, Timor-Leste
SHOP_PHONE=+670 7777 0000
KURS_RUPIAH_PER_USD=16000
