{% load static %}
<div class="side-navbar-wrapper">
  <!-- Sidebar Header -->
  <div class="sidenav-header">
    <a href="{% url 'home' %}"><img src="{% static 'Image/logo.png' %}" alt="{{ SHOP_NAME }}"></a>
    <span class="menu-text">{{ SHOP_NAME }} · {{ group|upper }}</span>
  </div>
  <!-- Sidebar Navigation Menus -->
  {% if user.is_authenticated %}
    {% if group == 'admin' %}
      {% include 'main/sidenavs/admin.html' %}
    {% elif group == 'mekaniku' %}
      {% include 'main/sidenavs/mekaniku.html' %}
    {% elif group == 'nain' %}
      {% include 'main/sidenavs/nain.html' %}
    {% endif %}
    <h5 class="sidenav-heading">Konta</h5>
    <ul class="side-menu list-unstyled">
      <li><a href="{% url 'UserProfile' %}"><i class="fa fa-user"></i><span class="menu-text"> Profile</span></a></li>
      <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out-alt"></i><span class="menu-text"> Sai</span></a></li>
    </ul>
  {% endif %}
</div>
