<h5 class="sidenav-heading">Menu Prinsipál</h5>
<ul class="side-menu list-unstyled">
  <li><a href="{% url 'dashboard' %}" class="{% if request.path == '/Relatoriu/dashboard/' %}active{% endif %}"><i class="fa fa-tachometer-alt"></i><span class="menu-text"> Dashboard</span></a></li>
</ul>
<h5 class="sidenav-heading">Inventáriu</h5>
<ul class="side-menu list-unstyled">
  <li><a href="{% url 'pesa-list' %}" class="{% if request.path == '/Pesa/' or '/Pesa/detail' in request.path or '/Pesa/add' in request.path or '/Pesa/edit' in request.path %}active{% endif %}"><i class="fa fa-cogs"></i><span class="menu-text"> Pesa-Rezerva</span>{% if alerta_stock %}<span class="badge badge-warning menu-badge">{{ alerta_stock }}</span>{% endif %}</a></li>
  <li><a href="{% url 'kategoria-list' %}" class="{% if 'kategoria' in request.path %}active{% endif %}"><i class="fa fa-tags"></i><span class="menu-text"> Kategoria</span></a></li>
  <li><a href="{% url 'movimentu-list' %}" class="{% if 'movimentu' in request.path %}active{% endif %}"><i class="fa fa-exchange-alt"></i><span class="menu-text"> Sasán Tama / Sai</span></a></li>
</ul>
<h5 class="sidenav-heading">Operasaun</h5>
<ul class="side-menu list-unstyled">
  <li><a href="{% url 'servisu-list' %}" class="{% if '/Servisu/' in request.path and 'despeza' not in request.path %}active{% endif %}"><i class="fa fa-wrench"></i><span class="menu-text"> Servisu</span></a></li>
  <li><a href="{% url 'kliente-list' %}" class="{% if '/Kliente/' in request.path and 'motor' not in request.path %}active{% endif %}"><i class="fa fa-users"></i><span class="menu-text"> Kliente</span></a></li>
  <li><a href="{% url 'motor-list' %}" class="{% if '/Kliente/motor' in request.path %}active{% endif %}"><i class="fa fa-motorcycle"></i><span class="menu-text"> Motór</span></a></li>
</ul>
<h5 class="sidenav-heading">Finanseiru</h5>
<ul class="side-menu list-unstyled">
  <li><a href="{% url 'despeza-list' %}" class="{% if 'despeza' in request.path %}active{% endif %}"><i class="fa fa-money-bill-wave"></i><span class="menu-text"> Despeza</span></a></li>
  <li><a href="{% url 'relatoriu' %}" class="{% if request.path == '/Relatoriu/' %}active{% endif %}"><i class="fa fa-file-pdf"></i><span class="menu-text"> Relatóriu PDF</span></a></li>
</ul>
<h5 class="sidenav-heading">Sistema</h5>
<ul class="side-menu list-unstyled">
  <li><a href="{% url 'u-list' %}" class="{% if '/Utilizadores/list' in request.path or '/Utilizadores/emp' in request.path or '/Utilizadores/add' in request.path %}active{% endif %}"><i class="fa fa-user-shield"></i><span class="menu-text"> Utilizadór</span></a></li>
</ul>
